# Dependencies
**/node_modules

# Environment
.env
**/.env
!**/.env.example
!.env.docker.example

# Build output
**/dist
**/dist-ssr

# Logs
**/*.log
npm-debug.log*

# Prisma generated client
**/.prisma

# OS / editor
.DS_Store
*.local
